*{ 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
} 
body{ 
  background: rgb(55,149,254);
  background: linear-gradient(321deg, rgba(55,149,254,1) 10%, rgba(252,50,107,1) 100%);
  font-family: monospace; 
  width: 100vw; 
  height: 100vh;
  font-size: 21px;  
  display: flex; 
  justify-content: center; 
  align-items: center;
} 
.container{   
  width: 80%; 
  height: 80%; 
  background-color:rgba(255, 255, 255, 0.725);
  border-radius: 15px; 
} 
.head div{  
  display: flex; 
  justify-content: center; 
  margin-top: 15px;
} 
.head input{ 
  padding:5px; 
  width: 500px;  
  outline: none; 
  border:1px solid gray; 
  border-radius: 5px; 
  font-size:20px; 
  font-weight: bold;
}  
.head button{ 
  background-color:rgb(30, 151, 250); 
  outline: none;  
  border:none; 
  border:2px solid rgb(30,151,250);
  border-radius: 5px; 
  padding:5px 15px; 
  color:white; 
  font-size: 15px; 
  margin-left: 10px; 
  font-weight:bold; 
  letter-spacing: 0.5px; 
  cursor: pointer;
}  
.content{
  margin-top: 15px;
  display: none;
}
.tags{ 
  margin-top: 10px;
  padding:10px;
}
label {
  padding:5px 10px; 
  border-radius: 3px; 
  transition: 0.5s; 
  cursor: pointer;
} 
.tags input{
  display:none;
}

#pageall{
  display: block;
} 

input[type="radio"]:checked+label{ 
  background-color: rgb(30, 151, 250); 
  color: white;
}
.page
{
  padding: 10px;
} 
table{ 
  padding:5px; 
}
td{ 
  padding:5px;
} 
.bi{ 
  margin-right: 15px;
}  
a{ 
  text-decoration: none; 
  color:black
}   

table > tbody > tr span.hide{  
  display: none;
}

table > tbody > tr:hover span.hide{ 
  display: block;
}